modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"
integrations = ["stripe:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["pnpm", "run", "start"]
build = ["pnpm", "run", "build"]

[userenv]

[userenv.shared]
ADMIN_EMAILS = "admin@mbokahub.com,contact@mbokahub.com"
STRIPE_WEBHOOK_SECRET = "whsec_9yfO1TqFc4cqL0E3DwVWSmMgV1aVJFqy"
STRIPE_VIP_PRICE_ID = "price_1TQN8wHgqcjJnzrUCkKPXdtc"
STRIPE_PRO_PRICE_ID = "price_1TQN8wHgqcjJnzrU7rwscfyr"
STRIPE_BOOST_PRICE_ID = "price_1TQN8yHgqcjJnzrUcKTHLtiZ"
STRIPE_VIP_EARLY_BIRD_PRICE_ID = "price_1TQN8wHgqcjJnzrUc7TuKESM"

[userenv.development]
